#tickr-box 
	{
	background: #D3D3D3;
	max-width: 550px;
	padding: 3px;
	margin: 0px auto 0px auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}

.tickr-title 
	{
	color: #FFFFFF;
	font: bold 18px arial, sans-serif;
	background: #2A75C1; 
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}

#tickr-scroll ul
	{
	margin: 0px;
	padding: 0px;
	border: 0px;
	vertical-align: baseline;
	list-style: none;
	}

#tickr-scroll 
	{
	background: #4E91D5;
	height: 27px;
	margin: 3px auto 0px auto;
	overflow: hidden;
	padding: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}

#tickr-scroll li 
		{
		color: #FFFFFF;
		font: normal 18px arial, sans-serif;
		line-height: 26px;
		}

#tickr-scroll a 
	{
	color: #FFFFFF;
	text-decoration: none;
	}

#tickr-scroll a:hover 
	{
	color: #CCFF99;
	text-decoration: none;
	}

#tickr-scroll ul
	{
	padding: 0px 6px 0px 6px;
	-webkit-animation: tickr 12s cubic-bezier(1, 0, .5, 0) infinite;
	-moz-animation: tickr 12s cubic-bezier(1, 0, .5, 0) infinite;
	-ms-animation: tickr 12s cubic-bezier(1, 0, .5, 0) infinite;
	animation: tickr 12s cubic-bezier(1, 0, .5, 0) infinite;
	}

#tickr-scroll ul:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
	}

@-webkit-keyframes tickr {
	0%   { margin-top: 0; }
	25%  { margin-top: -26px; }
	50%  { margin-top: -52px; }
	75%  { margin-top: -78px; }
	100% { margin-top: 0; }
	}
@-moz-keyframes tickr {
	0%   { margin-top: 0; }
	25%  { margin-top: -26px; }
	50%  { margin-top: -52px; }
	75%  { margin-top: -78px; }
	100% { margin-top: 0; }
	}
@-ms-keyframes tickr {
	0%   { margin-top: 0; }
	25%  { margin-top: -26px; }
	50%  { margin-top: -52px; }
	75%  { margin-top: -78px; }
	100% { margin-top: 0; }
	}
@keyframes tickr {
	0%   { margin-top: 0; }
	25%  { margin-top: -26px; }
	50%  { margin-top: -52px; }
	75%  { margin-top: -78px; }
	100% { margin-top: 0; }
	}




/***************
START MEDIA QUERIES FOR SMARTPHONE FONT SIZES
***************/

@media handheld and (max-width: 482px),
   screen and (max-device-width: 482px),
   screen and (max-width: 482px) 
	{


.tickr-title	 { font-size: 14px; }

#tickr-scroll li { font-size: 12px; }


	}
/***************
END MEDIA QUERIES
***************/